<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Order Confirmation</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background: linear-gradient(to right, #019bba, #b3ffbc);
        }

        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 1px;
            justify-content: center;
            height: 100vh;
            padding: 40px;
            box-sizing: border-box;
        }

        h2 {
            color: #fff;
            font-size: 50px;
            margin-bottom: 30px;
        }
        .hadx{
            justify-content: center;
            align-items: center;
            text-align: center;
            
        }

        .client-info {
            margin-bottom: 40px;
            color: #fff;
            font-size: 40px;
        }

        .btn-contact,
        .btn-get-request {
            padding: 20px 40px;
            font-size: 24px;
            border: none;
            border-radius: 8px;
            cursor: pointer;
            transition: background-color 0.3s;
            margin-bottom: 30px;
            width: 250px;
            text-decoration: none;
            display: block;
            text-align: center;
        }

        .btn-contact {
            background-color: #0575e6;
            color: #fff;
        }

        .btn-contact:hover {
            background-color: #055c9d;
        }

        .btn-get-request {
            background-color: #00d2ff;
            color: #fff;
        }

        .btn-get-request:hover {
            background-color: #00a1c5;
        }
    </style>
</head>

<body>
    <div class="hadx">
        <h2 >Order Confirmation</h2> 
    </div>

    <div class="container">
        <div class="client-info">
            <p>You have confirmed the order of <strong><%= ClientName %></strong>.</p>
            <p>Contact them below:</p>
        </div>
        <a href="<%= whatsapp_link %>" class="btn-contact" target="_blank">Contact via WhatsApp</a>

        <!-- Form to send a POST request -->
        <form action="/TheCarSpa/Login/Manager/SetAvailability" method="POST">
            <button type="submit" class="btn-get-request">Set Availability</button>
        </form>
    </div>
</body>

</html>
